/compile
/config.guess
/config.log
/config.status
/config.sub
/config.h
/config.h.in
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/Makefile
/Makefile.in
/stamp-h1
/Version_script

*.m4
*.pc

*.la
*.lai
*.a
*.lo
*.o
*.exe

/.deps/
/autom4te.cache/